@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
  color: #434344;
	background-color: #eee;
}

/* Page Layout */

.container{
	max-width: 850px;
  margin: 0 auto;
  padding: 0;
	background-color: #fff;
}

/* Header */

header{
  display: flex;
	max-width: 850px;
	margin: 0 auto;
	padding: 0;
  justify-content: space-between;
	text-transform: uppercase;
}

#image{
	max-width: 250px;
	max-height: 258px;
}

#description{
	max-width: 550px;
	margin: 50px 30px;
}

/* Main */

main{
  max-width: 750px;
  margin: 0 auto;
	padding: 0 50px;
	font-size: 0.9rem;
}

#title{
	padding: 5px;
	font-size: 2rem;
	text-align: center;
	background-color: #b0e0ea;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 700px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 25px;
}

.flex-outer > li > label,
.flex-outer li p{
  flex: 1 0 300px;
  max-width: 520px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 355px;
}

.flex-outer li p {
  margin-bottom: 15px;
}

.flex-outer li button {
  margin:20px auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .09em;
}

.flex-inner li {
  width: 300px;
	margin-bottom: 10px;
}

.flex-inner li label{
  margin: -5px 5px;
}

/* Footer */

footer{
	text-align: center;
	background-color: #eee;
}

footer p{
	margin:0;
	padding: 10px;
	font-size: 0.7rem;
}

/* @media */

@media screen and (max-width: 600px)
{
	header{
		display: flex;
		flex-direction: column;
		width: 450px;
	  margin: 0 auto;
	  padding: 0;
  }
	
	#image{
		margin: 0 auto;
		padding: 0;
	}
	
	#description{
		margin: 0 auto;
  }
}

@media screen and (max-width: 420px)
{
	header{
		display: flex;
		flex-direction: column;
		width: 300px;
	  margin: 0 auto;
	  padding: 0;
  }
	
	#image{
		margin: 0 auto;
	}
	
	#name{
  	max-width: 260px;
  	margin: 0 auto;
	}
	
	#email{
  	max-width: 260px;
  	margin: 0 auto;
	}
	
	#dropdown{
  	max-width: 260px;
  	margin: 0 auto;
	}
	#number{
  	max-width: 260px;
  	margin: 0 auto;
	}
}

/* Thank You Page */

.thank-container{
	max-width: 650px;
  margin: 100px auto;
  padding: 0;
	background-color: #fff;
}

.content{
	display: flex;
	max-width: 650px;
	margin: 0 auto;
	padding: 0;
  justify-content: space-between;
	text-transform: uppercase;
	font-weight: bold;
}

#thank-image{
	max-width: 200px;
}

#thank-description{
	max-width: 400px;
	margin: 80px auto;
}
